/* Style the main container */
.login-container {
    text-align: center;
    max-width: 600px;
    height: 250px;
    margin: 0 auto;
    margin-top: 7rem;
    padding: 20px;
    border: 2px solid #117fb6;
    border-radius: 2px 50px 2px 50px; /* Top-left, top-right, bottom-right, bottom-left */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    transition: box-shadow 0.3s, transform 0.3s;
  }

  .login-container:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

  
  /* Style the login header */
  .login-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Style the form container */
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style the form labels */
  .login-form-label {
    font-weight: bold;
  }
  
  /* Style the input fields */
  .form-control {
    width: 550px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  /* Add hover effect to input fields */
  .form-control:hover {
    border-color: #007bff; /* Change border color on hover to blue */
  }
  
  /* Style the login button */
  .login-button {
    width: 70%;
    height: 50px;
    margin-top: 3rem;
    margin-left: -5rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 2px 30px 2px 30px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  /* Add hover effect to login button */
  .login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  