.find-workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
  }
  
  .location {
    display: flex;
    align-items: center;
  }
  
  .fa-location {
    margin-right: 10px;
  }
  