/* Slider.CSS    */

.img-container {
  width: 72%;
  min-height: 90vh;
  border-radius: 1rem;
  position: relative;
  margin-left: 21%;
  margin-top: 0.9%;
}

.img-box {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  background: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -40px;
}

.btn:hover {
  background: rgb(163, 163, 244);
}

.btn i {
  font-size: 24px;
  color: #0000FF;
}

.custom-fa-icon {
  font-size: 24px;
  color: #0000FF;
}

.slider-form-container-h1{
  display: none;
}

/* Slider.css for mobile */

@media (max-width: 768px) {

  .slider-form-container-h1{
    display: block;
    text-align: start;
    margin-left: 15px;
    font-size: medium;
    width: 350px;
    margin-top: -20px;

  }

  .img-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
    position: relative;
  }

  .img-box {
    border-radius: 5px;
  }

  .btn {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 50px;
    height: 50px;
  }
}
